@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

/* Custom styles */
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

/* Print styles */
@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

/* No seu arquivo CSS global */
.bg-primary { background-color: #3B82F6; }
.bg-primaryDark { background-color: #2563EB; }
.text-primary { color: #3B82F6; }
.bg-secondary { background-color: #10B981; }
/* Adicione todas as outras cores conforme necessário */